.people-panel{
  display: flex;
  align-items: center;
  flex-direction: column;
  .number{
    font-size: 380px;
    font-family: pingFangHeavy;
    text-shadow: 6px 9px 35px #0D2347;
    letter-spacing: 20px;
  }
}