.title{
  padding-top: 3.6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  h1,h2{
    font-weight: normal;
    text-shadow: .08rem .04rem .09rem #0D2347;
  }
  h1{
    font-size: 3.2rem;
    margin-bottom: .6rem;
    font-family: fangZhengZhengZhongHei;
  }
  h2{
    font-size: 1.1rem;
    font-family: pingFangHeavy;
  }
  hr{
    display: block;
    border-top: 2px solid #fff;
    width: 80%;
    margin: 1.2rem 0
  }

}